.App {
  text-align: center;
  background-color: #a5cdd7;
  display: flex;
}

.App-header {
  background-color: #a5cdd7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  font: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  width: 667px;
  height: 603px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  background-color: #fff;
  
}

input, select, textarea, ReactFlagsSelect {
  width: 50%;
  margin-bottom: 3px;
  justify-content: space-between;
  padding: 15px; /* Increased padding for better readability */
  border-radius: 10px;
  border: 2px solid #ccc;
  box-sizing: border-box; /* add this line */
  flex-shrink: 0; /* add this line */
}


input[type="submit"] {
  cursor: pointer;
  background-color: #a5cdd7;
  color: white;
  border: none;
  padding: 15px 20px; /* Reduced padding */
  white-space: pre-wrap;
  color: rgb(20 9 35/var(--tw-text-opacity));
  font-size: 0.8rem; /* Reduced font size */
  line-height: 1.2rem; /* Reduced line height */
  --tw-bg-opacity: 1;
  background-color: rgb(167 208 216/var(--tw-bg-opacity));
  border-radius: .75rem;
  margin-top: 2rem;
  align-self: flex-start; /* Align to the left */
  &:hover {
    background-color: #8ab0c9; /* Slightly darken background on hover */
  }
}

textarea {
  height: 100px;
  width: 100%;
}

h1 {
  color: black;
  font-size: 3rem;
  text-align: left;
  letter-spacing: -.02em;
  line-height: 3.75rem;
}

.contactInfo {
  flex-direction: column;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -.02em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 66px;
  margin-right: 66px;
}
h4, p {
  color: black;
  display: block;
  margin-bottom: 66px;
}

p{
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: row;
}

.contactInfo, .rightSide {
  flex: 1;
  padding: 10px;
}

.ReactFlagsSelect__option {
  color: black;
}

.checkboxes{
  color: black;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


