.App {
  text-align: center;
  background-color: #a5cdd7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a5cdd7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


form {
  font: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  padding: 20px; /* Increased padding for more space */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  background-color: #fff;
}

input, select, textarea {
  margin-bottom: 10px;
  padding: 10px; /* Increased padding for better readability */
  border-radius: 5px;
  border: 1px solid #ccc;
  /* Add focus styles for better user experience */
  &:focus {
    outline: none; /* Remove default outline */
    border-color: #a5cdd7; /* Change border color on focus */
  }
}

input[type="submit"] {
  cursor: pointer;
  background-color: #a5cdd7;
  color: white;
  border: none;
  padding: 15px 20px; /* Reduced padding */
  white-space: pre-wrap;
  color: rgb(20 9 35/var(--tw-text-opacity));
  font-size: 0.8rem; /* Reduced font size */
  line-height: 1.2rem; /* Reduced line height */
  --tw-bg-opacity: 1;
  background-color: rgb(167 208 216/var(--tw-bg-opacity));
  border-radius: .75rem;
  margin-top: 2rem;
  align-self: flex-start; /* Align to the left */
  &:hover {
    background-color: #8ab0c9; /* Slightly darken background on hover */
  }
}

.ReactFlagsSelect .country-label {
  color: black;
}

textarea {
  height: 100px;
}

h1 {
  color: black;
  font-size: 3rem;
  text-align: left;
  letter-spacing: -.02em;
  line-height: 3.75rem;
}

.checkbox{
  color: black;
}

.contactInfo {
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -.02em;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
